*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: #fff;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
    url(./images/header-image.png);
    background-size: cover;
    background-position: center;
    padding: 15px 32px; 
    position: relative;


}   

nav{
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 10px 0;
}

.logo{
    width: 100px;
    cursor: pointer;
}


nav button{
    border: 0;
    background-color: #db0001;
    color: #fff;
    padding: 7px 20px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    margin-left: 10px;
    cursor: pointer;

}

.language-btn{
    background-color: none;
    border: solid 0.02px #fff;
    display: inline-flex;
    align-items: center;
    background: transparent;
    padding: 7px 20px;
    
}

.language-btn img{
    width: 10px;
    margin-left: 5px;
}

.header-content{
   position: absolute;
   top:40%;
   left: 50%;
   transform: translate(-50% , -50%);
   text-align: center;
   margin-top: 100px;
   
}

.header-content h1{
    font-size: 60px;
    line-height: 70px;
    font-weight: 600;
    max-width: 650px;

}


.header-content h3{
    font-size:20px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;

}

.email-signup{
    align-items: center;
    display: flex;
    border-radius: 10px;
    margin-top: 30px;
    overflow: hidden;
    border: 0;
    

}

.email-signup input {
    flex: 1;
    border: 0;
    padding: 20px;
   
    

}

.email-signup button{
    background: #db0001;
    border: 0;
    color: #fff;
   padding: 18px 30px;
    font-size: 16px;
    cursor: pointer;

}


.features{
    padding: 50px 12%;
    font-size: 22px;
}